
<img src="./images/cf-logo.png" class="cloudflare-logo" />

<ul class="icon-nav-list">
	<li class="icon-item[% IF CPANEL.CPVAR.pagename == "overview" %] active[% END %]">
		<a href="index.html">
			<span class="icon"><svg class="icon-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 54 54"><rect x="26" y="20" class="svg-alt" width="2" height="8"></rect><rect x="36" y="28" class="svg-alt" width="2" height="7"></rect><rect x="16" y="28" class="svg-alt" width="2" height="7"></rect><polygon class="svg-alt" points="37,27 17,27 16,28 16,29 38,29 38,28 "></polygon><path class="svg-main" d="M22,33.82c0-1-0.81-1.82-1.82-1.82h-6.36c-1,0-1.82,0.81-1.82,1.82v6.36c0,1,0.81,1.82,1.82,1.82h6.36c1,0,1.82-0.81,1.82-1.82V33.82z"></path><path class="svg-main" d="M42,33.82c0-1-0.81-1.82-1.82-1.82h-6.36c-1,0-1.82,0.81-1.82,1.82v6.36c0,1,0.81,1.82,1.82,1.82h6.36c1,0,1.82-0.81,1.82-1.82V33.82z"></path><path class="svg-main" d="M33,14.18c0-1.21-0.98-2.18-2.18-2.18h-7.64c-1.2,0-2.18,0.98-2.18,2.18v7.64c0,1.21,0.98,2.18,2.18,2.18h7.64c1.2,0,2.18-0.98,2.18-2.18V14.18z"></path></svg></span>
			Overview
		</a>
	</li>
	<li class="icon-item[% IF CPANEL.CPVAR.pagename == "status" %] active[% END %]">
		<a href="status.html">
			<span class="icon"><svg class="icon-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 54 54"><polygon class="svg-main" points="12,26.99 17,22 24,29 37,16 42,20.99 24,39 "></polygon></svg></span>
			Status
		</a>
	</li>
	<li class="icon-item[% IF CPANEL.CPVAR.pagename == "security" %] active[% END %]">
		<a href="security.html">
			<span class="icon"><svg class="icon-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 54 54"><g><path class="svg-main" d="M39,41.1c0,1.1-1.2,1.9-2.3,1.9H17.3c-1.1,0-2.3-0.9-2.3-1.9V25.9c0-1.1,1.2-1.9,2.3-1.9H18v-3.9c0-5,4-9.1,9-9.1s9,4.1,9,9.1V24h0.7c1.1,0,2.3,0.8,2.3,1.9V41.1z M32,24v-3.9c0-2.8-2.2-5.2-5-5.2s-5,2.3-5,5.2V24H32z"></path><path class="svg-alt" d="M27,29.2c-1.4,0-2.6,1.2-2.6,2.6c0,1,0.6,1.9,1.4,2.4L24.4,39h5.2l-1.4-4.8c0.8-0.4,1.4-1.3,1.4-2.3C29.6,30.4,28.4,29.2,27,29.2z"></path></g></svg></span>
			Security
		</a>
	</li>
	<li class="icon-item[% IF CPANEL.CPVAR.pagename == "performance" %] active[% END %]">
		<a href="performance.html">
			<span class="icon"><svg class="icon-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 54 54"><path class="svg-main" d="M42,27c0,4.14-1.68,7.89-4.4,10.6l-4.83-4.83c1.48-1.48,2.4-3.52,2.4-5.77c0-4.5-3.67-8.17-8.17-8.17S18.83,22.5,18.83,27c0,2.25,0.92,4.29,2.4,5.77L16.4,37.6C13.68,34.89,12,31.14,12,27c0-8.28,6.72-15,15-15S42,18.72,42,27z"></path><path class="svg-alt" d="M35.17,27c0,2.25-0.92,4.29-2.4,5.77c-1.48,1.48-3.52,2.4-5.77,2.4s-4.29-0.92-5.77-2.4c-1.48-1.48-2.4-3.52-2.4-5.77c0-4.5,3.67-8.17,8.17-8.17S35.17,22.5,35.17,27z"></path><line fill="none" x1="21.23" y1="32.77" x2="16.4" y2="37.6"></line><line fill="none" x1="37.6" y1="37.6" x2="32.77" y2="32.77"></line><g><path class="svg-bg-fill" d="M37.6,37.6l-12.01-9.19c-0.89-0.68-1.05-1.94-0.38-2.83c0.68-0.89,1.94-1.05,2.83-0.38c0.14,0.11,0.27,0.24,0.38,0.38L37.6,37.6z"></path></g></svg></span>
			Performance
		</a>
	</li>
	<li class="icon-item[% IF CPANEL.CPVAR.pagename == "analytics" %] active[% END %]">
		<a href="analytics.html">
			<span class="icon"><svg class="icon-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 54 54"><g><path class="svg-main" d="M29,15.999V29H15.999c0,7,5.819,12.997,12.998,12.997c7.18,0,13-5.819,13-12.999S36,15.999,29,15.999z"></path><path class="svg-alt" d="M27,12c-8,0-15,7-15,15h15V12z"></path></g></svg></span>
			Analytics
		</a>
	</li>
	<li class="icon-item[% IF CPANEL.CPVAR.pagename == "support" %] active[% END %]">
		<a href="support.html">
			<span class="icon"><svg class="icon-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 54 54"><g><path class="svg-main" d="M30,39.1c0,1-0.8,1.9-1.9,1.9h-3.3c-1,0-1.9-0.8-1.9-1.9V14.9c0-1,0.8-1.9,1.9-1.9h3.3c1,0,1.9,0.8,1.9,1.9V39.1z"></path><path class="svg-main" d="M41,28.1c0,1-0.8,1.9-1.9,1.9H14.9c-1,0-1.9-0.8-1.9-1.9v-3.3c0-1,0.8-1.9,1.9-1.9h24.3c1,0,1.9,0.8,1.9,1.9V28.1z"></path></g></svg></span>
			Support
		</a>
	</li>
</ul>
