<%
var dev_mode    = stats.dev_mode * 1000;
var local_time  = new Date();
var timeOffset  = local_time.getTimezoneOffset() * 60 * 1000;             
%>

<a NAME="infobox"></a>
<h4>CloudFlare Security Settings for <%= domain %></h4>
<fieldset id="table_dns_zone" class="form-horizontal">

<div class="control-group">
    <div class="control-label"><label>Security Setting <span class="text-info"><i class="icon icon-info-sign" onclick="CloudFlare.showHelp('seclvl')"></i></span></label></div>
    <div class="controls">
        <select name="SecurityLevelSetting" id="SecurityLevelSetting" onChange="CloudFlare.change_cf_setting('<%= domain %>', 'security_level', 'SecurityLevelSetting')">
            <option value="high" <% print(((stats.userSecuritySetting == "high")? 'selected': '')) %>>High</option>'
            <option value="medium" <% print(((stats.userSecuritySetting == "medium")? 'selected': '')) %>>Medium</option>'
            <option value="low" <% print(((stats.userSecuritySetting == "low")? 'selected': '')) %>>Low</option>'
            <option value="essentially_off" <% print(((stats.userSecuritySetting == "essentially_off")? 'selected': ''))%>>Essentially Off</option>'
            <option value="under_attack" <% print(((stats.userSecuritySetting == "under_attack")? 'selected': '')) %>>I'm under attack!</option>'
        </select>
    </div>
</div>

</fieldset>
<p>For more statistics and settings, sign into your account at <a href="https://www.cloudflare.com/analytics" target="_blank">CloudFlare</a>.</p>
