[%
USE Api2;
USE CPList;
USE JSON;

SET js_lang = {
	'SZE_added_record'        => 'ZE_added_record',
	'SZE_adding_record'       => 'ZE_adding_record',
	'SZE_deleting_record'     => 'MX_deleting_record',
	'SZE_not_valid_zone_name' => 'SZE_not_valid_zone_name',
	'SZE_address_valid_ip'    => 'ZE_address_valid_ip',
	'SZE_address_not_local'   => 'ZE_address_not_local_ip',
	'SZE_name_reserved'       => 'SZE_name_reserved',
	'SZE_address_fqdn'        => 'SZE_address_fqdn',
	'cname_unique1'           => 'Name matches an existing CNAME.',
	'cname_unique2'           => 'All CNAMEs must be unique.',
};
FOR pair = js_lang;
    js_lang.${pair.key} = locale.maketext(pair.value);
END;

SET ip_result = Api2.exec('DnsLookup', 'name2ip', {'domain' => CPANEL.CPDATA.DNS});
SET base_domains_result = Api2.exec('CloudFlare','getbasedomains');
SET cpanel_domains = Api2.exec('ZoneEdit','fetch_cpanel_generated_domains').ofeach('domain').grep('.');

SET cf_user = Api2.exec('CloudFlare','user_lookup', {'email' => CPANEL.CPDATA.CONTACTEMAIL, 'user' => CPANEL.CPDATA.USER}).0;

SET domain_ip = ip_result.0.ip || CPANEL.CPDATA.IP;

-%]
<div class="body-content">
<div class="yui-skin-sam">

[% IF cf_user.result == "error" -%]

[% IF !CPANEL.CPDATA.CONTACTEMAIL -%]
<div class="h1Title">You must add your email address before continuing.</div>
[% ELSE %]
<div class="h1Title">[% cf_user.msg %]</div>
[% END %]

[% ELSE %]

[% IF cf_user.response.user_key -%]

<div class="h1Title"><div class="spriteicon_img_mini" id="icon-simplezoneedit_mini"></div>CloudFlare Integration</div>

<p class="cf_description">
CloudFlare works differently than other site acceleration services (i.e. CDNs). You do not need to make any changes to your code. Instead, you can choose which subdomains you want to be accelerated and protected by CloudFlare.  Subdomains are designated as “on” or “off” CloudFlare by using an orange or gray cloud. Click on the cloud next to a subdomain below to enable or disable CloudFlare for this subdomain. 
</p><p class="cf_description">
If you have SSL on your website, you have two options. If your SSL is on a separate subdomain, mark the subdomain by a gray cloud. Otherwise, you will have to upgrade to CloudFlare’s paid Pro service to ensure your site’s SSL continues to function as expected. You can learn more <a href="http://www.cloudflare.com/wiki/How_do_I_add_SSL_support_for_a_domain%3F" target="_blank">here</a>.
</p>

<input type="hidden" id="domain" />

<div class="highlight">
<table cellspacing="0" cellpadding="3" width="700" border="0">
[% FOR domain_data = base_domains_result -%]
<tr>
    <td><a href="#" onclick="return enable_domain('[% domain_data.domain %]');">[Edit]</a></td>
    <td>[% domain_data.domain %]</td>
[% IF domain_data.cloudflare -%]        
    <td id="cf_powered_[% domain_data.domain %]">Powered by CloudFlare</td>
    <td align="left" id="cf_powered_check[% domain_data.domain %]"><input type="checkbox" value="[% domain_data.domain %]" checked onclick="toggle_all_off('[% domain_data.domain %]')" /></td>
[% ELSE -%]
    <td id="cf_powered_[% domain_data.domain %]">Not Currently CloudFlare Enabled</td>
    <td align="left" id="cf_powered_check[% domain_data.domain %]"><input type="checkbox" value="[% domain_data.domain %]" onclick="toggle_www_on('[% domain_data.domain %]')" /></td>
[% END -%]
</tr>
[% END -%]
</table>
</div>

<div id="user_records_div"></div>

</div><!-- end add_record_and_zone_table -->

</div><!-- end body-content div -->

<script type="text/javascript">
//<![CDATA[
var CPANEL_CONTROLLED_DOMAINS = [% cpanel_domains.json() %];
var LANG = [% js_lang.json() %];
var USER_ID = [% cf_user.response.user_key.json() %];

//]]>
</script>

[% ELSE -%]

<div class="h1Title"><div class="spriteicon_img_mini" id="icon-cloudflare"></div>CloudFlare</div>

<p class="cf_description">
CloudFlare accelerates and protects any website online. On average, a website on CloudFlare:
</p>

<ul>
<li>Loads 30% faster
<li>Uses 60% less bandwidth
<li>Has 65% fewer requests
<li>And, is way more secure.
</ul>

<p>
<div id="cf_def_show"><a href="#" onclick="return handleLearnMore(true);">Learn More ...</a></div>
<br />
</p>

<div id="cf_def_noshow">
<b>Advantages of the CloudFlare system:</b>

<ul>
<li><b>Site Performance Improvement:</b> CloudFlare has proxy servers located throughout the world. Proxy servers are located closer to your visitors, which means they will see page load speed improvements as the cached content is delivered from the closest caching box instead of directly off our server. There is a lot of research that shows that a faster a site, the longer a visitor stays.
<li><b>Bot and Threat Protection:</b> CloudFlare uses data from Project Honey Pot and other third party sources, as well as the data from its community, to identify malicious threats online and stop the attacks before they even get to your site. You can see which threats are being stopped through your CloudFlare dashboard <a href="https://www.cloudflare.com/your-websites.html">here</a>.
<li><b>Spam Comments Protection:</b> CloudFlare leverages data from third party resources to reduce the number of spam comments on your site
<li><b>Alerting Visitors of Infected Computers:</b> CloudFlare alerts human visitors that have an infected computer that they need to take action to clean up the malware or virus on their machine. The visitor can enter a CAPTCHA to gain access to your site.
<li><b>Always Online Mode:</b> In the event that our server is unavailable, visitors should still be able to access your site since CloudFlare serves the visitor a page from its cache.
<li><b>Lower CPU Usage:</b> As fewer requests hit our server, this lowers the overall CPU usage of your account.
<li><b>New Site Stats:</b> CloudFlare’s system keeps statistics on each hit and offers insight into search engine crawlers and threats.
</ul>

<b>Limitations of the CloudFlare system:</b>

<ul>
<li>Currently, requests must be directed to www.$domain instead of $domain. 
<li>CloudFlare may affect internal statistic programs that read directly from Apache logs. (CloudFlare will not affect web-based analytic programs that use JavaScript like Google Analytics.) While your logs will reflect fewer requests to your server and therefore lower load, the experience to your visitors should be unaffected.
<li>CloudFlare caches static content from your site. While this reduces the load on your server, it means that if you make a change to an existing static file, like an image, there may be a delay before the change appears. While you are updating your site, you can put CloudFlare in ‘Development Mode’ so changes appear immediately.
</ul>

<p>
<a href="#" onclick="return handleLearnMore(false);">[hide]</a>
</p>

</div>

<b>Who can use CloudFlare:</b>
<ul>
<li>CloudFlare is suitable for all websites, including dynamic websites. Signing up takes less than two minutes. If you do not like the service, it takes even less time to un-signup.
</ul>

<input type="hidden" id="USER_email" name="USER_email" value="[% CPANEL.CPDATA.CONTACTEMAIL %]" />
<input type="hidden" id="USER_user" name="USER_user" value="[% CPANEL.CPDATA.USER %]" />

<h4>Sign up for CloudFlare now</h4>
<div class="highlight">
<table cellspacing="0" cellpadding="3" style="margin-bottom: 5px">

	<tr>
          <td class="col1">Your Email: </td>
		  <td class="col2"><input class="input_text" type="text" id="USER_email" value="[% CPANEL.CPDATA.CONTACTEMAIL %]" / readonly></td>
		  <td><div id="USER_email_error"></div></td>
	</tr>
	<tr>
          <td class="col1">&nbsp;</td>
          <td class="col2">I have read and agree to abide by CloudFlare's <a href="https://www.cloudflare.com/terms.html" target="_blank">Terms of Service</a>.</td>
		  <td class="col3"><input class="input_checkbox" type="checkbox" id="USER_tos"></td>
		  
          <td><div id="USER_tops_error"></div></td>
	</tr>

	<tr>
		<td class="col1"></td>
		<td colspan="2">        
            <div id="add_USER_record_button"><input type="submit" class="input-button" value="Signup Now!" id="USER_submit" /></div>
            <span id="add_USER_record_status"></span>
        </td>
	</tr>
</table>

<div id="add_USER_status_bar" style="margin:0 -5px" class="cjt_status_bar"></div>
</div>
</div>

[% END -%]

[% END -%]