<p>
CloudFlare provides insight to your website traffic that you can’t get from other analytics programs. In addition to visitor analytics, you can monitor threats and search engine crawlers. For most websites, these threats and crawlers make up 20% to 50% of traffic. It’s traffic every website should understand, but most analytics services ignore.</p>

<p><a href="https://www.cloudflare.com/features-analytics" target="_blank">Learn More at CloudFlare</a></p>

<hr />

[% IF cf_user.response.user_key -%]
	
	[% INCLUDE tmpl/analytics_stats.tmpl %]

[% END -%]
