
<img src="./images/cf-logo.png" class="cloudflare-logo" />

<ul class="icon-nav-list">
	<li class="icon-item[% IF CPANEL.CPVAR.pagename == "overview" %] active[% END %]">
		<a href="index.html">
			<span class="icon"><svg class="icon-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                               	 viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
                               <path class="svg-alt" d="M46,48H2c-1.1,0-2-0.9-2-2V2c0-1.1,0.9-2,2-2h44c1.1,0,2,0.9,2,2v44C48,47.1,47.1,48,46,48z"/>
                               <path id="Overview" class="svg-main" d="M28,16h-8v-2h8V16z M34,16v18H14V16h4v2h12v-2H34z M20,27h-3v3h3V27z M20,22h-3v3h3V22z
                               	 M31,27h-9v3h9V27z M31,22h-9v3h9V22z"/>
                               </svg></span>
			Overview
		</a>
	</li>
	<li class="icon-item[% IF CPANEL.CPVAR.pagename == "status" %] active[% END %]">
		<a href="https://www.cloudflarestatus.com/" target="_blank">
			<span class="icon"><svg class="icon-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                               	 viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
                               <path class="svg-alt" d="M46,48H2c-1.1,0-2-0.9-2-2V2c0-1.1,0.9-2,2-2h44c1.1,0,2,0.9,2,2v44C48,47.1,47.1,48,46,48z"/>
                               <path id="Check_1_" class="svg-main" d="M24,34c-5.5,0-10-4.5-10-10c0-5.5,4.5-10,10-10s10,4.5,10,10C34,29.5,29.5,34,24,34z M23,28
                               	l6-6l-2-2l-4,4l-2-2l-2,2L23,28z"/>
                               </svg>
</span>
			Status
		</a>
	</li>
	<li class="icon-item[% IF CPANEL.CPVAR.pagename == "security" %] active[% END %]">
		<a href="security.html">
			<span class="icon"><svg class="icon-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                               	 viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
                               <path class="svg-alt" d="M46,48H2c-1.1,0-2-0.9-2-2V2c0-1.1,0.9-2,2-2h44c1.1,0,2,0.9,2,2v44C48,47.1,47.1,48,46,48z"/>
                               <path id="crypto" class="svg-main" d="M31,20v-6H17v6h-2v14h18V20H31z M28,17v3h-8v-3H28z M26,30h-4v-6h4V30z"/>
                               </svg></span>
			Security
		</a>
	</li>
	<li class="icon-item[% IF CPANEL.CPVAR.pagename == "performance" %] active[% END %]">
		<a href="performance.html">
			<span class="icon"><svg class="icon-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                               	 viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
                               <path class="svg-alt" d="M46,48H2c-1.1,0-2-0.9-2-2V2c0-1.1,0.9-2,2-2h44c1.1,0,2,0.9,2,2v44C48,47.1,47.1,48,46,48z"/>
                               <polygon id="Performance" class="svg-main" points="32,22 27,22 29,14 16,26 21,26 19,34 "/>
                               </svg></span>
			Performance
		</a>
	</li>
	<li class="icon-item[% IF CPANEL.CPVAR.pagename == "analytics" %] active[% END %]">
		<a href="analytics.html">
			<span class="icon"><svg class="icon-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                               	 viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
                               <path class="svg-alt" d="M46,48H2c-1.1,0-2-0.9-2-2V2c0-1.1,0.9-2,2-2h44c1.1,0,2,0.9,2,2v44C48,47.1,47.1,48,46,48z"/>
                               <path id="Analytics" class="svg-main" d="M33.9,25.2c0,4.8-3.7,8.6-8.5,8.6c-4.8,0-8.7-3.8-8.7-8.8H25v-8.4
                               	C30,16.6,33.9,20.4,33.9,25.2z M23,23v-8.9c-5,0.5-8.4,4.9-8.9,8.9H23z"/>
                               </svg></span>
			Analytics
		</a>
	</li>
	<li class="icon-item[% IF CPANEL.CPVAR.pagename == "support" %] active[% END %]">
		<a href="support.html">
			<span class="icon"><svg class="icon-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                               	 viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
                               <path class="svg-alt" d="M46,48H2c-1.1,0-2-0.9-2-2V2c0-1.1,0.9-2,2-2h44c1.1,0,2,0.9,2,2v44C48,47.1,47.1,48,46,48z"/>
                               <path id="Life_Preserver" class="svg-main" d="M31.1,16.9C29.3,15.1,26.8,14,24,14s-5.3,1.1-7.1,2.9C15.1,18.7,14,21.2,14,24
                               	s1.1,5.3,2.9,7.1S21.2,34,24,34s5.3-1.1,7.1-2.9c1.8-1.8,2.9-4.3,2.9-7.1S32.9,18.7,31.1,16.9z M24,16c1.5,0,2.8,0.4,4.1,1.1
                               	l-1.5,1.5C25.8,18.2,24.9,18,24,18s-1.8,0.2-2.6,0.6l-1.5-1.5C21.2,16.4,22.5,16,24,16z M16,24c0-1.5,0.4-2.8,1.1-4.1l1.5,1.5
                               	C18.2,22.2,18,23.1,18,24s0.2,1.8,0.6,2.6l-1.5,1.5C16.4,26.8,16,25.5,16,24z M24,32c-1.5,0-2.8-0.4-4.1-1.1l1.5-1.5
                               	c0.8,0.4,1.7,0.6,2.6,0.6c0.9,0,1.8-0.2,2.6-0.6l1.5,1.5C26.8,31.6,25.5,32,24,32z M24,28c-1.1,0-2.1-0.4-2.8-1.2S20,25.1,20,24
                               	s0.4-2.1,1.2-2.8c0.7-0.7,1.7-1.2,2.8-1.2s2.1,0.4,2.8,1.2c0.7,0.7,1.2,1.7,1.2,2.8s-0.4,2.1-1.2,2.8C26.1,27.6,25.1,28,24,28z
                               	 M30.9,28.1l-1.5-1.5c0.4-0.8,0.6-1.7,0.6-2.6s-0.2-1.8-0.6-2.6l1.5-1.5c0.7,1.2,1.1,2.6,1.1,4.1S31.6,26.8,30.9,28.1z"/>
                               </svg></span>
			Support
		</a>
	</li>
</ul>
