<div class="columns two">
	<div class="column">
		<h4>What is CloudFlare?</h4>
		<p>CloudFlare accelerates and protects any website online. On average, a website on CloudFlare:</p>

		<ul>
		<li>Loads 2x faster
		<li>Uses 60% less bandwidth
		<li>Has 65% fewer requests
		<li>And is way more secure
		</ul>
	</div>

	<div class="column">
		<h4>Who can use CloudFlare?</h4>

		<p><strong>You can!</strong> CloudFlare is suitable for all websites, including dynamic websites. Signing up takes less than two minutes. If you do not like the service, it takes even less time to un-signup.</p>
		
		<p><em>Note:</em> This service is a collaboration between CloudFlare and [% base_domains_result.0.hoster %]. We encourage you to send any bug reports to <a href="mailto:support@cloudflare.com">support@cloudflare.com</a>.</p>
	</div>
</div>

<p>
<div id="cf_def_show"><a href="javascript:void(0);" class="toggle show-only btn" data-target="cf_def_noshow">Learn More</a></div>
</p>

<div id="cf_def_noshow" class="hide">
	<h4>Advantages of the CloudFlare system:</h4>

    <h5>Performance</h5>
    <ul>
        <li>
            <strong>Performance Acceleration:</strong> CloudFlare runs a global network of <a href="https://www.cloudflare.com/network-map" target="_blank">over 30 data centers located throughout the world</a>. Using this network, CloudFlare designed its next-generation CDN (Content Delivery Network). Our CDN automatically caches your static files at our edge nodes so these files are stored closer to your visitors while delivering your dynamic content directly from your web server. CloudFlare then uses a technology called Anycast to route your visitors to the nearest data center. The result is that your website, on average, loads twice as fast for your visitors regardless of where they are located.
        </li>
        <li>
            <strong>Web content optimization:</strong> Beyond edge caching (moving static files closer to web visitors), CloudFlare improves the loading of a web page. We have several optimization features including: 
            <ul>
                <li>Rocket LoaderTM: Combines multiple JavaScript files into a single request and minimizes the number of network connections</li>
                <li>AutoMinifyTM:Removes unnecessary characters from HTML, CSS, and JavaScript.</li>
                <li>If your host offers paid CloudFlare plans, you can also get:
                    <ul>
                        <li>Polish: Automatically applies ‘lossless’ or ‘lossy’ image optimization to remove unnecessary bytes from images. On average, image sizes are reduced by 35%.</li>
                        <li>Mirage: Delivers images that are the appropriate size and resolution for the device and automatic “lazy load” functionality</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <strong>Availability with Always Online:</strong> If your server ever goes offline, CloudFlare will serve a limited copy of your cached website to keep it online for your visitors. CloudFlare builds the Always Online™ version of your website, so your most popular pages are represented.
        </li>
    </ul>
    
    <h5>Security</h5>
    <ul>
        <li><strong>Easy website security:</strong> Online threats range from nuisances like comment spam and excessive bot crawling to malicious attacks like SQL injection and denial of service (DOS) attacks. CloudFlare provides security protection against all of these types of threats and more to keep your website safe. CloudFlare stops web threats at the edge before they hit the origin server. </li>
        <li>
            <strong>DDoS mitigation:</strong> Denial-of-service (DoS) attacks are on the rise and have evolved into complex and overwhelming security challenges for organizations large and small. Your website is automatically protected from a variety of DDoS attacks even with the CloudFlare Free plan. To get Advanced DDoS mitigation, you will need to upgrade to a paid CloudFlare plan. CloudFlare's advanced DDoS protection, provisioned as a service at the network edge, matches the sophistication and scale of such threats, and can be used to mitigate DDoS attacks of all forms and sizes. To learn more, visit <a href="www.cloudflare.com/ddos" target="_blank">www.cloudflare.com/ddos</a>.
        </li>
    </ul>
    
    <h5>Analytics & Reports</h5>
    <ul>
        <li><strong>Analytics & Stats:</strong> CloudFlare provides insight to your website traffic that you can’t get from other analytics programs. In addition to visitor analytics, you can monitor threats and search engine crawlers. For most websites, these threats and crawlers make up 20% to 50% of traffic. It’s traffic every website should understand, but most analytics services ignore. Compatible with all analytics programs including Google Analytics. </li>
        <li><strong>Lower CPU Usage and Bandwidth:</strong> If you get a surge in traffic, CloudFlare’s CDN will absorb the effect so your server stays online. On average, you'll see 65% fewer requests to your servers and save 60% of your bandwidth, even with CloudFlare's free plan.</li>
    </ul>
    
    <hr />

	<h4>Notes on implementing CloudFlare through cPanel:</h4>

	<ul>
        <li>When you activate CloudFlare thought cPanel, you use a CNAME integration. That means that only requests directed to www.$domain or other CNAMEs pass through the CloudFlare system. To take full advantage of CloudFlare, redirect your root domain ($domain) to the www.$domain subdomain.</li>
        <li>CloudFlare may affect internal statistic programs that read directly from Apache logs. (CloudFlare will not affect web-based analytic programs that use JavaScript like Google Analytics.) While your logs will reflect fewer requests to your server and therefore lower load, the experience to your visitors should be unaffected.</li>
        <li>CloudFlare caches static content from your site. When making changes to an existing static file on your website, like an image, you need to enter CloudFlare “Development Mode” so changes appear immediately. You can also “Purge” cache in cPanel or individual files directly in your cloudflare.com account.</li>
    </ul>
    
	<p>
	   <a href="javascript:void(0);" class="btn toggle hide-only" data-target="cf_def_noshow">Hide</a>
	</p>
</div>

<hr />

[% IF cf_user.response.user_key -%]

	[% IF base_domains_result.0.has_cf -%]

		<h1>Account Settings</h1>

		<p>
		Now that CloudFlare is activated, you can see statistics for your website and manage the basic CloudFlare settings right here from your control panel. Statistics take 24 hours to first appear and subsequently update once per day.
		</p>
        <p>
        To access advanced settings and additional functionality, log in to your <a href="https://www.cloudflare.com/login" target="_blank">CloudFlare.com</a> account, which has been automatically created for you. Hint: The first time you visit, use your current email and the '<a href="https://www.cloudflare.com/forgot-password" target="_blank">I forgot my password</a>' feature to set a password.
		</p>

	[% ELSE %]

		<h1>Activate CloudFlare</h1>
		<div class="columns two">
			<div class="column">
				<p>
				Choose which website you want to activate by clicking on the cloud. We will activate CloudFlare for the subdomain 'www' and you can choose the additional subdomains to activate. Note: Only CNAME records will show up in the record list below.
				</p>
				<p>
				CloudFlare works differently than other site acceleration services (i.e. CDNs). You do not need to make any changes to your code. Instead, you choose which subdomains you want to be accelerated and protected by CloudFlare. Subdomains are designated as "on" or "off" CloudFlare by using an orange and gray cloud.
				</p>
			</div>
			<div class="column">
				<p>
				<strong>Have SSL on your website?</strong><br> You have two options:
				</p>
				<p>
				If your SSL is on a separate subdomain, mark the subdomain by a gray cloud. Otherwise, you will have to upgrade to CloudFlare’s paid Pro service to ensure your site’s SSL continues to function as expected. You can learn more <a href="https://support.cloudflare.com/hc/en-us/articles/200170516-How-do-I-add-SSL-to-my-site-" target="_blank">here</a>.
				</p>
			</div>
		</div>

	[% END %]

	<h4>My Websites</h4>

	[% INCLUDE /usr/local/cpanel/etc/cloudflare_local.tmpl %]

	<input type="hidden" id="domain" />

	<div class="highlight">
		<table class="table" width="700">
			<thead>
				<tr style="text-align:left;">
				        <th>&nbsp;</th>
				        <th>Site</th>
				        <th>Status</th>
				        <th align="center">CloudFlare Status</th>
				</tr>
			</thead>

			<tbody>
				<script type="text/javascript">
				//<![CDATA[
				var domain_data = '[% base_domains_result.0.res.json() %]';
				domain_data = $.parseJSON(domain_data);
				for (var i=0; i<domain_data.length; i++) {
					document.write(CFT['zone']({cloudflare: domain_data[i].cloudflare, domain: domain_data[i].domain, 'action': 'enable_domain', 'action_text': 'Manage'}));
				}
				//]]>
				</script>
			</tbody>
		</table>
	</div>

	<div id="user_records_div"></div>

	<div id="help_div"></div>

[% ELSE -%]

	<input type="hidden" id="USER_user" name="USER_user" value="[% CPANEL.CPDATA.USER %]" />

	<br/>
	<h4>Sign Up / Log In</h4>
	<div class="highlight">
		<fieldset class="form-horizontal">
			<div class="control-group">
				<div class="control-label">
					<label>Your Email:</label>
				</div>
				<div class="controls">
					<input class="input_large" type="text" id="USER_email" name="USER_email" value="" />
				</div>
			</div>

			<div id="USER_email_error"></div>

			<div class="control-group" id="cf_pass_noshow">
				<div class="control-label">
					<label>Password:</label>
				</div>
				<div class="controls">
					<input class="input_large" type="password" id="USER_pass" />
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
						<input class="input_checkbox" type="checkbox" id="USER_tos">
						I have read and agree to abide by CloudFlare's <a href="https://www.cloudflare.com/terms.html" target="_blank">Terms of Service</a>
					</label>
				</div>
			</div>

			<div id="USER_tops_error"></div>

			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
						<div id="add_USER_record_button"><span class="btn btn-success" id="USER_submit">Signup Now!</span></div>
	            		<span id="add_USER_record_status"></span>
					</label>
				</div>
			</div>

			<div id="add_USER_status_bar" style="margin:0 -5px" class="alert input-alert alert-error"></div>
		</fieldset>
	</div>
[% END -%]
