<div class="columns two">
	<div class="column">
		<h4>What is CloudFlare?</h4>
		<p>CloudFlare accelerates and protects any website online. On average, a website on CloudFlare:</p>

		<ul>
		<li>Loads 30% faster
		<li>Uses 60% less bandwidth
		<li>Has 65% fewer requests
		<li>And, is way more secure.
		</ul>
	</div>

	<div class="column">
		<h4>Who can use CloudFlare?</h4>

		<p><strong>You can!</strong> CloudFlare is suitable for all websites, including dynamic websites. Signing up takes less than two minutes. If you do not like the service, it takes even less time to un-signup.</p>
		
		<p><em>Note:</em> This service is a collaboration between CloudFlare and [% base_domains_result.0.hoster %]. We encourage you to send any bug reports to <a href="mailto:support@cloudflare.com">support@cloudflare.com</a>.</p>
	</div>
</div>

<p>
<div id="cf_def_show"><a href="javascript:void(0);" class="toggle show" data-target="cf_def_noshow">Learn More ...</a></div>
</p>

<div id="cf_def_noshow" class="hide">
	<b>Advantages of the CloudFlare system:</b>

	<ul>
	<li><b>Site Performance Improvement:</b> CloudFlare has proxy servers located throughout the world. Proxy servers are located closer to your visitors, which means they will see page load speed improvements as the cached content is delivered from the closest caching box instead of directly off our server. There is a lot of research that shows that a faster a site, the longer a visitor stays.
	<li><b>Bot and Threat Protection:</b> CloudFlare uses data from Project Honey Pot and other third party sources, as well as the data from its community, to identify malicious threats online and stop the attacks before they even get to your site. You can see which threats are being stopped through your CloudFlare dashboard <a href="https://www.cloudflare.com/your-websites.html" target="_blank">here</a>.
	<li><b>Spam Comments Protection:</b> CloudFlare leverages data from third party resources to reduce the number of spam comments on your site
	<li><b>Alerting Visitors of Infected Computers:</b> CloudFlare alerts human visitors that have an infected computer that they need to take action to clean up the malware or virus on their machine. The visitor can enter a CAPTCHA to gain access to your site.
	<li><b>Always Online Mode:</b> In the event that our server is unavailable, visitors should still be able to access your site since CloudFlare serves the visitor a page from its cache.
	<li><b>Lower CPU Usage:</b> As fewer requests hit our server, this lowers the overall CPU usage of your account.
	<li><b>New Statistics Stats:</b> CloudFlare’s system keeps statistics on each hit and offers insight into search engine crawlers and threats.
	</ul>

	<b>Limitations of the CloudFlare system:</b>

	<ul>
	<li>Currently, requests must be directed to www.$domain instead of $domain.
	<li>CloudFlare may affect internal statistic programs that read directly from Apache logs. (CloudFlare will not affect web-based analytic programs that use JavaScript like Google Analytics.) While your logs will reflect fewer requests to your server and therefore lower load, the experience to your visitors should be unaffected.
	<li>CloudFlare caches static content from your site. While this reduces the load on your server, it means that if you make a change to an existing static file, like an image, there may be a delay before the change appears. While you are updating your site, you can put CloudFlare in ‘Development Mode’ so changes appear immediately.
	</ul>

	<p>
	<a href="javascript:void(0);" class="toggle hide-only" data-target="cf_def_noshow">[hide]</a>
	</p>
</div>

<hr />

[% IF cf_user.response.user_key -%]

	[% IF base_domains_result.0.has_cf -%]

		<h1>Account Settings</h1>

		<p>
		Now that CloudFlare is activated, you can see quick statistics for your website and manage the basic CloudFlare settings right here from your control panel. Statistics take 24 hours to first appear and subsequently update once per day.
		</p><p>
		To access all of your reports and CloudFlare settings, log in to your <a href="https://www.cloudflare.com/login" target="_blank">CloudFlare.com</a> account. Hint: The first time you go to your CloudFlare.com account, use the 'I forgot my password' feature to set a password.
		</p><p>
		Remember: You can activate and deactivate CloudFlare for each website by toggling between the orange and grey cloud.
		</p>

	[% ELSE %]

		<h1>Activate CloudFlare</h1>
		<div class="columns two">
			<div class="column">
				<p>
				Choose which website you want to activate by clicking on the cloud. We will activate CloudFlare for the subdomain 'www' and you can choose the additional subdomains to activate. Note: Only CNAME records will show up in the record list below.
				</p>
				<p>
				CloudFlare works differently than other site acceleration services (i.e. CDNs). You do not need to make any changes to your code. Instead, you choose which subdomains you want to be accelerated and protected by CloudFlare. Subdomains are designated as "on" or "off" CloudFlare by using an orange and gray cloud.
				</p>
			</div>
			<div class="column">
				<p>
				<strong>Have SSL on your website?</strong><br> You have two options:
				</p>
				<p>
				If your SSL is on a separate subdomain, mark the subdomain by a gray cloud. Otherwise, you will have to upgrade to CloudFlare’s paid Pro service to ensure your site’s SSL continues to function as expected. You can learn more <a href="https://support.cloudflare.com/hc/en-us/articles/200170516-How-do-I-add-SSL-to-my-site-" target="_blank">here</a>.
				</p>
			</div>
		</div>

	[% END %]

	<h4>My Websites</h4>

	[% INCLUDE /usr/local/cpanel/etc/cloudflare_local.tmpl %]

	<input type="hidden" id="domain" />

	<div class="highlight">
		<table class="table" width="700">
			<thead>
				<tr style="text-align:left;">
				        <th>&nbsp;</th>
				        <th>Site</th>
				        <th>Status</th>
				        <th align="center">CloudFlare Status</th>
				</tr>
			</thead>

			<tbody>
				<script type="text/javascript">
				//<![CDATA[
				var domain_data = '[% base_domains_result.0.res.json() %]';
				domain_data = $.parseJSON(domain_data);
				for (var i=0; i<domain_data.length; i++) {
					document.write(CFT['zone']({cloudflare: domain_data[i].cloudflare, domain: domain_data[i].domain, 'action': 'enable_domain', 'action_text': 'Manage'}));
				}
				//]]>
				</script>
			</tbody>
		</table>
	</div>

	<div id="user_records_div"></div>

	<div id="help_div"></div>

[% ELSE -%]

	<input type="hidden" id="USER_user" name="USER_user" value="[% CPANEL.CPDATA.USER %]" />

	<br/>
	<h4>Sign Up / Log In</h4>
	<div class="highlight">
		<fieldset class="form-horizontal">
			<div class="control-group">
				<div class="control-label">
					<label>Your Email:</label>
				</div>
				<div class="controls">
					<input class="input_large" type="text" id="USER_email" name="USER_email" value="" />
				</div>
			</div>

			<div id="USER_email_error"></div>

			<div class="control-group" id="cf_pass_noshow">
				<div class="control-label">
					<label>Password:</label>
				</div>
				<div class="controls">
					<input class="input_large" type="password" id="USER_pass" />
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
						<input class="input_checkbox" type="checkbox" id="USER_tos">
						I have read and agree to abide by CloudFlare's <a href="https://www.cloudflare.com/terms.html" target="_blank">Terms of Service</a>
					</label>
				</div>
			</div>

			<div id="USER_tops_error"></div>

			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
						<div id="add_USER_record_button"><span class="btn btn-success" id="USER_submit">Signup Now!</span></div>
	            		<span id="add_USER_record_status"></span>
					</label>
				</div>
			</div>

			<div id="add_USER_status_bar" style="margin:0 -5px" class="alert input-alert alert-error"></div>
		</fieldset>
	</div>
[% END -%]
