<div class="columns two">
	<div class="column">
		<h4>Next-generation CDN</h4>
		<p>CloudFlare designed its CDN (Content Delivery Network) without the legacy of the last 15 years. Our proprietary technology takes advantage of recent changes to hardware, web server technology and network routing. In other words, we’ve built the next-generation CDN. The result is a CDN that is easier to setup, more affordable, and performs better than any legacy CDN you've tried before.</p>

		<p><a href="https://www.cloudflare.com/features-cdn" target="_blank">Learn More at CloudFlare</a></p>
	</div>

	<div class="column">
		<h4>Web content optimization</h4>

		<p>Web performance is not just about moving static files closer to visitors, it is also about ensuring that every page renders as fast and efficiently as possible from whatever device a visitor is surfing from. CloudFlare users can choose any combination of these web content optimization features that take performance to the next level.</p>

		<p><a href="https://www.cloudflare.com/features-optimizer" target="_blank">Learn More at CloudFlare</a></p>
	</div>
</div>

<hr />

[% IF cf_user.response.user_key && base_domains_result.0.has_cf -%]
	<div class="highlight">
		<table class="table" width="700">
			<thead>
				<tr style="text-align:left;">
				        <th>&nbsp;</th>
				        <th>Site</th>
				        <th>Status</th>
				        <th align="center">CloudFlare Status</th>
				</tr>
			</thead>

			<tbody>
				<script type="text/javascript">
				//<![CDATA[
				var domain_data = '[% base_domains_result.0.res.json() %]';
				domain_data = $.parseJSON(domain_data);
				for (var i=0; i<domain_data.length; i++) {
					document.write(CFT['zone']({cloudflare: domain_data[i].cloudflare, domain: domain_data[i].domain, 'action': 'get_performance', 'action_text': 'Settings'}));
				}
				//]]>
				</script>
			</tbody>
		</table>
	</div>

	<div id="user_records_div"></div>

[% ELSE -%]

	<h2>Activate CloudFlare</h2>

	<p><a href="index.html" class="btn btn-success">To begin, activate CloudFlare on your website.</a></p>

[% END -%]
