<p>
	CloudFlare leverages the knowledge of a diverse community of websites to power a new type of security service. Online threats range from nuisances like comment spam and excessive bot crawling to malicious attacks like SQL injection and denial of service (DOS) attacks. CloudFlare provides security protection against all of these types of threats and more to keep your website safe.
</p>

<p>
	<a href="https://www.cloudflare.com/features-security" target="_blank">Learn More at CloudFlare</a>
</p>

<hr />

[% IF cf_user.response.user_key && base_domains_result.0.has_cf -%]
	<div class="highlight">
		<table class="table" width="700">
			<thead>
				<tr style="text-align:left;">
				        <th>&nbsp;</th>
				        <th>Site</th>
				        <th>Status</th>
				        <th align="center">CloudFlare Status</th>
				</tr>
			</thead>

			<tbody>
				<script type="text/javascript">
				//<![CDATA[
				var domain_data = '[% base_domains_result.0.res.json() %]';
				domain_data = $.parseJSON(domain_data);
				for (var i=0; i<domain_data.length; i++) {
					document.write(CFT['zone']({cloudflare: domain_data[i].cloudflare, domain: domain_data[i].domain, 'action': 'get_security', 'action_text': 'Settings'}));
				}
				//]]>
				</script>
			</tbody>
		</table>
	</div>

	<div id="user_records_div"></div>

[% ELSE -%]

	<h2>Activate CloudFlare</h2>

	<p><a href="index.html" class="btn btn-success">To begin, activate CloudFlare on your website.</a></p>

[% END -%]
