[%
USE Api2;
USE CPList;
USE JSON;

SET js_lang = {
	'SZE_added_record'        => 'ZE_added_record',
	'SZE_adding_record'       => 'ZE_adding_record',
	'SZE_deleting_record'     => 'MX_deleting_record',
	'SZE_not_valid_zone_name' => 'SZE_not_valid_zone_name',
	'SZE_address_valid_ip'    => 'ZE_address_valid_ip',
	'SZE_address_not_local'   => 'ZE_address_not_local_ip',
	'SZE_name_reserved'       => 'SZE_name_reserved',
	'SZE_address_fqdn'        => 'SZE_address_fqdn',
	'cname_unique1'           => 'Name matches an existing CNAME.',
	'cname_unique2'           => 'All CNAMEs must be unique.',
};
FOR pair = js_lang;
    js_lang.${pair.key} = locale.maketext(pair.value);
END;

SET ip_result = Api2.exec('DnsLookup', 'name2ip', {'domain' => CPANEL.CPDATA.DNS});
SET base_domains_result = Api2.exec('CloudFlare','getbasedomains', {'homedir' => CPANEL.homedir, 'user' => CPANEL.CPDATA.USER});
SET cpanel_domains = Api2.exec('ZoneEdit','fetch_cpanel_generated_domains').ofeach('domain').grep('.');
SET cf_user = Api2.exec('CloudFlare','user_lookup', {'user' => CPANEL.CPDATA.USER, 'homedir' => CPANEL.homedir}).0;

SET domain_ip = ip_result.0.ip || CPANEL.CPDATA.IP;

FOR domain_data = base_domains_result.0.res;
        SET temp = Api2.exec('CloudFlare','fetchzone', {'domain'=> domain_data.domain, 'homedir' => CPANEL.homedir, 'user' => CPANEL.CPDATA.USER});
END;
SET base_domains_result = Api2.exec('CloudFlare','getbasedomains', {'homedir' => CPANEL.homedir, 'user' => CPANEL.CPDATA.USER});
-%]

<div id="FixedContent">
	<ul id="Notifications"></ul>
</div>

<div class="cloudflare-content">
	<div class="yui-skin-sam">
		[% INCLUDE tmpl/brand.tmpl %]
		[% INCLUDE "tmpl/${CPANEL.CPVAR.pagename}.tmpl" %]
	</div>
</div> <!-- end cloudflare-content div -->


<script type="text/javascript">
//<![CDATA[
var CPANEL_CONTROLLED_DOMAINS = [% cpanel_domains.json() %];
var LANG = [% js_lang.json() %];
var USER_ID = [% (cf_user.response.user_key)? cf_user.response.user_key.json(): 0 %];
var USER_API_KEY = [% (cf_user.response.user_api_key)? cf_user.response.user_api_key.json(): 0 %];
var USER_EMAIL = [% (cf_user.response.cloudflare_email)? cf_user.response.cloudflare_email.json(): 0 %];
var USER_HOME_DIR = [% CPANEL.homedir.json() %];
var CF_ON_CLOUD_MESSAGE = [% cf_user.on_cloud_message.json() %];
//]]>
</script>
