<div class="columns three">
	<div class="column">
		<h4>Support channels</h4>
		<p><strong>We're here to help.</strong> 95% of customer problems can be solved through the information available via our search bar:</p>
		<ul>
			<li>Common errors</li>
			<li>Common questions</li>
			<li>Feature specific information</li>
			<li>Support ticket management</li>
	</div>

	<div class="column">
		<h4>Resources</h4>
		<p>At CloudFlare we are on a mission to build a better Internet. We offer the simplest way to a safer, faster, and smarter website</p>
		<p>Resources include:</p>
		<ul>
			<li>Enterprise overview</li>
			<li>Feature overviews</li>
			<li>Partner resources</li>
			<li>Whitepapers</li>
		</ul>
	</div>

	<div class="column">
		<h4>Abuse policy</h4>
		<p>We accept the following kinds of reports:</p>
		<ul>
			<li>Copyright infringement & DMCA violations</li>
			<li>Trademark infringement</li>
			<li>Child pornography</li>
			<li>Phishing & malware</li>
			<li>Violent threats</li>
		</ul>
	</div>
</div><br>

<div class="columns three">
	<div class="column">
		<p><a href="https://support.cloudflare.com" class="btn" target="_blank">Visit our full support resources</a></p>
	</div>
	<div class="column">
		<p><a href="https://www.cloudflare.com/resources" class="btn" target="_blank">Access all resources on our website</a></p>
	</div>
	<div class="column">
		<p><a href="https://www.cloudflare.com/abuse/" class="btn" target="_blank">Learn more on our abuse page</a></p>
	</div>
</div>

<hr />

[% IF cf_user.response.user_key -%]

	[% IF base_domains_result.0.has_cf -%]

	[% ELSE %]

	[% END %]

	<!-- TODO: Add form to submit a request from here. Include cPanel information to aid in debugging -->

[% END -%]
