/*******************************************************************************
 *
 * Fixed Content
 * 
 * Any elements that are intended to be fixed on the page and displayed on top
 * of all other content.
 * 
 ******************************************************************************/
/* line 577, ../../sass/library/cloudflare.core.scss */
div#FixedContent {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: visible;
  z-index: 999;
}
/* line 588, ../../sass/library/cloudflare.core.scss */
div#FixedContent > * {
  display: block;
  position: fixed;
}

/* line 595, ../../sass/library/cloudflare.core.scss */
ul#Notifications {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 604, ../../sass/library/cloudflare.core.scss */
ul#Notifications li.note {
  display: block;
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #97bf60;
  background: #f9fff2;
  color: #528c00;
}
/* line 615, ../../sass/library/cloudflare.core.scss */
ul#Notifications li.note p, ul#Notifications li.note h1 {
  color: inherit;
}
/* line 620, ../../sass/library/cloudflare.core.scss */
ul#Notifications li.note.alert {
  border-bottom: 1px solid #f2e2c2;
  background: #fffde5;
  color: #bc532a;
}
/* line 627, ../../sass/library/cloudflare.core.scss */
ul#Notifications li.note.error {
  border-bottom: 1px solid #d58080;
  background: #fff2f2;
  color: #cc2929;
}
/* line 634, ../../sass/library/cloudflare.core.scss */
ul#Notifications li.note.warning {
  border-bottom: 1px solid #f2ac79;
  background: #fffbf2;
  color: #cc6114;
}
/* line 642, ../../sass/library/cloudflare.core.scss */
ul#Notifications li.note.message {
  border-bottom: 1px solid #97bf60;
  background: #f9fff2;
  color: #528c00;
}
/* line 649, ../../sass/library/cloudflare.core.scss */
ul#Notifications li.note h1 {
  display: inline;
  margin: 0 10px 0 0;
  font-weight: bold;
  font-size: 14px;
}
/* line 658, ../../sass/library/cloudflare.core.scss */
ul#Notifications li.note p {
  display: inline;
  font-size: 14px;
}
